.component-container1 {
  width: 100%;
  height: 341px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.component-container2 {
  gap: 200px;
  flex: 0 0 auto;
  width: 100%;
  height: 388px;
  display: flex;
  align-items: flex-start;
  padding-left: 200px;
  padding-right: 200px;
  background-color: var(--dl-color-gray-black);
}
 
.component-container3 {
  gap: 0;
  width: 272px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
 
.component-text10 {
  fill: var(--dl-color-theme-secondary2);
  color: var(--dl-color-theme-secondary2);
  align-self: center;
  padding-bottom: var(--dl-space-space-fourunits);
}
 
.component-text12 {
  width: var(--dl-size-size-xlarge);
  padding-top: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-fourunits);
}
 
.component-container4 {
  gap: 0;
  width: 272px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.component-text13 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  align-self: center;
  padding-bottom: var(--dl-space-space-twounits);
}
 
.component-text14 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
 
.component-text15 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  width: var(--dl-size-size-xlarge);
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-fourunits);
}
 
.component-container5 {
  gap: 0;
  width: 272px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.component-text16 {
  fill: var(--dl-color-theme-secondary2);
  color: var(--dl-color-theme-secondary2);
  align-self: center;
  text-align: center;
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.component-text18 {
  width: var(--dl-size-size-xlarge);
  padding-top: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-fourunits);
}
 
.component-container6 {
  gap: 0;
  width: 272px;
  height: 296px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.component-text19 {
  fill: var(--dl-color-theme-secondary2);
  color: var(--dl-color-theme-secondary2);
  align-self: center;
  text-align: center;
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.component-text21 {
  width: var(--dl-size-size-xlarge);
  padding-top: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-fourunits);
}
 
.component-text22 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.component-text23 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
  font-size: 20px;
}
 
.component-text24 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
}
 
.component-text25 {
  display: inline-block;
  font-size: 20px;
}
 
.component-text26 {
  display: inline-block;
  font-size: 20px;
}
 
.component-text27 {
  color: var(--dl-color-theme-secondary2);
  display: inline-block;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
}
 
.component-text28 {
  color: var(--dl-color-theme-secondary2);
  display: inline-block;
}
 
.component-text29 {
  color: var(--dl-color-theme-secondary2);
  display: inline-block;
}
 
.component-text30 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.component-text31 {
  color: var(--dl-color-theme-secondary2);
  display: inline-block;
}
 
.component-text32 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
  font-size: 20px;
}
 
.component-text33 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 

 
@media(max-width: 1600px) {
  .component-container2 {
    gap: var(--dl-space-space-sixunits);
    align-items: center;
    justify-content: center;
  }
}
